@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e6d8d9;
}

/* Navbar */
.logo {
  height: 100px;
  padding: 0 10px;
  cursor: pointer;
}

.active {
  background-color: #585748;
  font-weight: 500;
  border-radius: 10px;
}

.navbar {
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  padding: 10px 0;
  justify-content: space-between;
  position: absolute;
  display: flex;
}

.navlist {
  display: flex;
  align-items: center;
}

.navlist li {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  float: left;
  margin: 0px 40px;
}

.navlist a {
  color: rgb(198, 197, 201);
  font-weight: 700;
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.15s ease;
}

li a:hover:not(.active) {
  background-color: rgb(124, 121, 118);
}

.navbar-toggler {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

.navbar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: #d8d5d5;
  border-radius: 10%;
  transition: 0.4s;
}

.menu-btn {
  position: absolute;
  top: 34px;
  right: 30px;
  width: 30px;
  cursor: pointer;
  display: none;
}

/* Navbar for Mobile device */
@media (max-width: 750px) {
  .menu-btn {
    display: block;
  }
  .navbar {
    padding: 0;
  }
  .active {
    background-color: rgb(202, 178, 201);
  }
  .logo {
    position: absolute;
    top: 5px;
  }
  .navlist {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: rgb(235, 210, 210);
    margin-top: -1900px;
  }
  .navlist a {
    font-size: 22px;
    color: #585748;
  }
  .navlist li {
    margin: 30px auto;
  }
  .mobile-menu {
    margin-top: 0;
    border-bottom-right-radius: 30%;
  }
  li a:hover:not(.active) {
    background-color: rgb(196, 181, 194);
  }
}

/* Header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.header-content {
  color: whitesmoke;
  text-align: center;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-content h1 {
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 15px;
}

.header-content p {
  font-size: 20px;
  padding: 20px;
  color: rgba(235, 245, 233, 0.811);
  font-weight: 400;
}

.header-button {
  margin-top: 20px;
  font-size: 16px;
  color: rgba(235, 245, 233, 0.811);
  border: rgb(97, 99, 98) 2px solid;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  letter-spacing: 1px;
  background-color: #626364;
}

.header-content .header-button:hover {
  background-color: #727776;
  color: rgb(238, 225, 178);
}

/* Header for Mobile device */
@media (max-width: 750px) {
  .header-content h1 {
    font-size: 50px;
  }
}

/* EVENTS */
.events-container {
  margin-top: 20px;
  padding-bottom: 60px;
}

.ev-title {
  width: 100%;
  text-align: center;
  font-size: 35px;
  color: rgb(56, 34, 5);
  font-weight: 600px;
}

.ev-title .line {
  width: 160px;
  height: 4px;
  background: #f07b5e;
  margin: 3px auto 40px;
  border-radius: 10px;
}

.ev-title h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "DM Serif Display", serif;
  letter-spacing: 3px;
}

.events {
  display: flex;
  width: 100%;
  gap: 60px;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.event {
  width: 300px;
  height: auto;
  margin:0 20px ;

}

.event h3 {
  margin: 25px 0px;
  font-size: 20px;
  color: #382205;
  text-align: left;
}

.event p {
  line-height: 30px;
  padding-bottom: 20px;
  text-align: justify;
  position: relative;
}

.event img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.event img:hover {
  transform: scale(1.05);
}

.event .read-more-btn {
  padding: 8px 15px;
  color: white;
  background: #f07b5e;  
  border-radius: 30px;
  font-size: 14px;
}

.read-more-btn:hover {
  background-color: #eba279;
}

/* Event for mobile device */
@media (max-width: 750px) {
  .ev-title h1 {
    font-size: 30px;
    padding-top:0;
  }
  .ev-title .line {
    margin: 3px auto 30px;
  }
  .events {
    margin-top: 20px;
  }
}


/* INTRODUCE */
#intro {
  background-image: linear-gradient(
      rgba(133, 127, 127, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../images/intro.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  width: 100%;
  text-align: center;
}

.intro-content {
  color: rgb(240, 217, 205);
  display: flex;
  flex-direction: column;
  outline-style: solid;
  padding: 40px;
}

.intro-content h1 {
  font-size: 40px;
  padding: 20px 0;
  font-weight: 700;
  letter-spacing: 15px;
  color:#d6b1b1
}

.intro-content p {
  color: #f0ecec;
  font-size: 20px;
  font-weight: 400;
  padding: 20px 0;
  line-height: 30px;
}

/* Mobile version for Intro */
@media screen and (max-width: 640px) {
  .intro-content h1 {
    letter-spacing: 5px;
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .intro-content {
    outline-style: none;
    padding: 0;
  }
}

/* Discover */
#discover {
  overflow: hidden;
}

.discover-container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}

.discover-header h1 {
  font-size: 6vmin;
  font-weight: 600;
  color: rgb(56, 34, 5);
  font-family: "DM Serif Display", serif;
  letter-spacing: 5px;
 }

.discover-header p {
  color: rgb(56, 34, 5);
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  padding: 30px 10px 10px;
}

.discover-content {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.discover-box {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 15px;
  margin-bottom: 5%;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.4s;
  cursor: pointer;
}

.discover-box h3 {
  color: rgb(56, 34, 5);
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  margin: 10px 0;
}

.discover-box p {
  color: rgb(56, 34, 5);
  font-size: 15px;
  font-weight: 500px;
  line-height: 27px;
  padding: 15px 10px;
  text-align: justify;
}

.discover-box:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

/* Mobile discover block */
@media (max-width: 800px) {
  .discover-content {
    flex-direction: column;
  }
}

/* EXPLORE */
#explore {
  background-image: linear-gradient(
      rgba(243, 240, 225, 0.5),
      rgba(17, 17, 17, 0.7)
    ),
    url("../images/explo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: left;
  padding: 60px 70px;
}

.explore-content {
  width: 50%;
  color: rgb(66, 30, 3);
  display: flex;
  align-items: left;
  flex-direction: column;
}

.explore-content h1 {
  font-size: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.explore-content p {
  color: #f0ecec;
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  text-align: justify;
  padding-bottom: 30px;
}

.explore-content .read-more-btn {
  padding: 10px 15px;
  background: #f07b5e;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  text-align: center;
  width: 125px;
  font-weight: 500;
}

.explore-btn:hover {
  background-color: #eba279;
}

@media screen and (max-width: 1000px) {
  #explore {
    padding: 70px;
  }

  .explore-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .explore-content h1 {
    font-size: 50px;
    padding-bottom: 40px;
  }

  .explore-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
  }
}

/* About us */
.about-us-container {
  margin: 40px 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.about-us-content {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: start;
  flex-direction: column;
  align-items: left;
}

.about-us-content h1 {
  font-size: 50px;
  color: rgb(66, 30, 3);
  font-family: "DM Serif Display", serif;
  padding-bottom: 40px;
  text-align: left;
}

.about-us-content p {
  color: rgb(56, 34, 5);
  font-size: 16px;
  font-weight: 500px;
  line-height: 30px;
  text-align: justify;
  font-family: "Roboto Slab", serif;
  padding-bottom: 20px;
}

.about-img {
  float: right;
  width: 35%;
  border-radius: 10px;
  flex-direction: column;
}

.about-us-btn {
  align-items: left;
  padding: 10px 15px;
  background: #f07b5e;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  width: 125px;
  text-align: center;
  font-weight: 500;
}

.about-us-btn:hover {
  background-color: #eba279;
}

@media screen and (max-width: 940px) {
  .about-us-container {
    flex-direction: column;
    gap: 30px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .about-img {
    width: 60%;
    height: 500px;
    float: center;
    display: flex;
  }
}

/* Questions */
#questions {
  background-image: url("../images/qe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.question-container {
  margin: 40px 180px;
  margin-bottom: 0;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 500px;
  display: flex;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .question-container {
    margin: 30px 50px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.question-container h1 {
  font-size: 50px;
}

.question-container p {
  font-family: "Roboto Slab", serif;
  text-align: center;
  line-height: 28px;
}

.question-container img {
  max-width: 500px;
}

.question-btn {
  align-items: left;
  padding: 15px 15px;
  background: #f07b5e;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  width: 150px;
  text-align: center;
  font-weight: 500;
}

.question-btn:hover {
  background-color: #eba279;
}

/*FOOTER */

footer {
  background-color: #796f63;
}

.footer-container {
  width: 100%;
  justify-content: center;

  .footer-nav {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  .footer-nav ul li a {
    color: white;
    margin: 20px;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  }

  .footer-nav ul li a:hover {
    opacity: 1;
    color: #382205;
  }

  .footer-bottom {
    background-color: #ad895c;
    padding: 20px;
    text-align: center;
  }

  .footer-bottom p {
    color: white;
    line-height: 36px;
    text-align: center;
  }

  @media (max-width: 700px) {
    .footer-nav ul {
      flex-direction: column;
    }
    .footer-nav ul li {
      width: 100%;
      text-align: center;
      margin: 10px;
    }
  }
}
